# dependências
/node_modules

# build do Next.js
/.next/
/out/

# arquivos gerados automaticamente
next-env.d.ts
*.tsbuildinfo

# variáveis de ambiente (senhas e chaves)
.env
.env.local
.env.*.local

# logs
npm-debug.log*

# sistema operacional
.DS_Store

# Vercel
.vercel
